{% extends 'todoapp/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="ru">
{% block content %}


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Inder&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'todoapp/style.css' %}">
    <title>{% block title %}Home{% endblock %}</title>
</head>

<body>


<div class="wrap">
    <h1>My To Do List</h1>

    <div class="wrap">
        {% if user.is_authenticated %}
            <form class="panel" action="{% url 'todoapp:addItem' email=user.email %}" method="post">{% csrf_token %}
                <input id="input" type="text" name="content">
                <input id="button" type="submit" value="Add">
                    {% comment %} <!--<input style="display: none" name="email" value="{{ user.email }}">--> {% endcomment %}
            </form>

            Hi {{ user.username }}! Email:  {{ user.email }}
            <p><a href="{% url 'user:logout' %}?next={{ request.path }}">Log Out</a></p>
        {% else %}
            <p id="button">
                <a href="{% url 'user:login' %}?next={{ request.path }}">Login.</a>
            </p>

        {% comment %} {% if user.is_authenticated %} {% endcomment %}
        {% comment %} {% else %}
            <p>You are not logged in</p>
            <a href="{% url 'user:login' %}">Log In</a> {% endcomment %}
        {% endif %}

        {% if user.is_authenticated %}
            <ul>
                {% for i in all_items %}
                    {% if i.email == user.email %}
                        <li class="status {{i.status}}">
                            <span class="name">{{i.content}}</span>
                            <a class="status {{i.status}}" href="{% url 'todoapp:action' te="status" i=i.id %}">Stat.</a>
                            <a class="status {{i.status}}" href="{% url 'todoapp:action' te="delete" i=i.id %}">Dele.</a>
                            
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
        
    </div>
</div>

</body>
{% endblock %}

</html>